.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #d41e2d;
}

p {
  font-size: 2rem;
  color: #cf2e3c;
  font-family: 'Indie Flower', cursive;
}



footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

button {
  border: none;
  border-radius: 7px;
  font-family: Courier New;
  color: #ff4151;
  background-color: #393E46;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  position: relative;
  bottom: 100px;
}

button:hover {
  background-color: #ff4151;
  color: #393E46;
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: rgb(207, 207, 207);
}

img {
  width: 80%;
}

.dice-img {
  animation: circle-img 0.6s both ease-in-out;
}

@-webkit-keyframes circle-img {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle-img {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
